<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像処理</title>
</head>

<body>
    <h1>画像処理</h1>
    <h2>画像をアップロードしてください。</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="image" accept="image/*">
        <input type="submit" value="アップロード">
    </form>

    <ul>
        <li>
            <a href="top.html">画像アップロード</a>
        </li>
        <li>
            <a href="upload_list.html">画像一覧</a>
        </li>
        <li>
            <a href="gray_scale.html">グレースケール</a>
        </li>
        <li>
            <a href="rectangle.html">顔検出</a>
        </li>
        <li>
            <a href="mosaic.html">モザイク処理</a>
        </li>
    </ul>
</body>

</html>