<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アップロードリスト</title>
</head>
<body>
  <main>
    <h1>アップロードリスト</h1>
    <section>
        {% for img_name in imgs %}
        <figure>
            <img src="{{ url_for('static', filename=img_name) }}" width="150">
            <figcaption>
            <li>
                <a href="{{ url_for('static', filename=img_name) }}" target="_blank">{{ img_name }}</a>
            </li>
             </figcaption>
        </figure>
        {% endfor %}
    </section>
  </main>
</body>
</html>